<h1>Orders List</h1>

<div class="pull-right">
</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td> # </td>
      <td> user </td>
      <td> product </td>
      <td> order status </td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.id %>
      </td>
      <td>
        <%= order.user.email %>
      </td>
      <td>
        <%= order.product.title %>
      </td>
      <td>
        <%= order.status_name %>
      </td>
    </tr>
    <% end %>

  </tbody>
</table>
